@font-face {
    font-family: Lato;
    src: url(../assets/fonts/Lato-Regular.ttf);
}

.header-version1 {
    margin-left: 17px;
    height: 126px;
    font-family: Lato;
}

.header-version2 {
    height: 126px;
    margin-left: 17px;
    font-family: Lato;
    border-bottom: 1px solid #1abc9c;
}

.header-version1 h1 {
    font-size: 34px;
    padding: 45px 0px;
    font-weight: bold;
}

.header-version1>.title1 {
    border: none;
}

.title1 {
    height: 126px;
    width: 240px;
    border-right: 1px solid #ddd;
}

.title1 h1 {
    font-size: 34px;
    font-weight: bold;
    padding-top: 45px;
}

.title2 {
    border-right: 1px solid #ddd;
    height: 126px;
    width: 390px;
    padding: 24px 0px;
}

.img-back {
    width: 24px;
    height: 30px;
    margin: 0px 5px;
}

.btn-back {
    border: none;
    padding: 20px 0px;
    background-color: #F8F8F8;
}

.title2 h5 {
    margin: 0px;
}

.btn-hide {
    display: none;
}

.field-actions {
    width: 0px;
}

.btn-add {
    cursor: pointer;
    margin: 30px 0px;
    margin-left: 30px;
    border: none;
    background-image: url(../assets/img/ic_add.svg);
    background-size: 68px;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 8px 16px 0 rgba(29, 207, 169, 0.5);
    width: 68px;
    height: 68px;
    border-radius: 61px;
}


/*Options to change the visualization*/

.option-visualization {
    width: 150px;
    height: 126px;
    border-right: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.option-visualization-hide {
    display: none;
}

.btn-grid {
    margin: 0px 5px;
    background-image: url(../assets/img/ic_grid_selected.svg);
    background-repeat: no-repeat;
    background-size: 28px;
    border: none;
    background-color: #F8F8F8;
    width: 29px;
    height: 29px;
}

.btn-list {
    margin: 0px 5px;
    background-image: url(../assets/img/ic_list_normal.svg);
    background-repeat: no-repeat;
    background-size: 28px;
    border: none;
    background-color: #F8F8F8;
    width: 29px;
    height: 29px;
}


/* Fields of order for account */

.options-search {
    width: 610px;
    height: 126px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #ddd;
}

.options-search-hide {
    display: none;
}

.btn-order {
    background-image: url(../assets/img/ic_ordenar_crescente.svg);
    background-repeat: no-repeat;
    background-color: #F8F8F8;
    background-size: 25px;
    margin-top: 45px;
    margin-right: 9px;
    width: 20px;
    height: 25px;
    border: none;
}

.btn-order:focus {
    border: none;
    outline: 0;
    background-image: url(../assets/img/ic_ordenar_decrescente.svg);
}

.options-search div {
    margin: 0px 9px;
}

.options-search div button {
    position: relative;
    margin-top: 12px;
    width: 259px;
    background-color: #ffffff;
    border: solid 1px #dddddd;
}

.options-search div label {
    width: 111px;
    height: 24px;
    font-family: Lato;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.3;
    letter-spacing: normal;
    text-align: left;
    color: #444444;
    margin-left: 10px;
}

.text-search {
    width: 500px;
    height: 126px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #ddd;
}

.text-search-hide {
    display: none;
}

.text-search label {
    width: 87px;
    height: 24px;
    font-family: Lato;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.3;
    letter-spacing: normal;
    text-align: left;
    color: #444444;
}


/*Field text input of search*/

.hold-search {
    position: relative;
    border: none;
    background-color: #F8F8F8;
}

.field-search {
    width: 461.5px;
    height: 48px;
    border: none;
    padding-left: 40px;
    margin-top: 8px;
    background-color: #F8F8F8;
    border-bottom: 1px solid #dddddd;
}

.search-img {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 15px;
    left: 5px;
}

.field-search:focus {
    outline: 0;
    padding-left: 5px;
}

.field-search:focus+.search-img {
    display: none;
}